@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "inter";
  src: url("./assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf")
    format("truetype");
}

:root {
  --background: #060606;
  --color: #fff;
  --sub: #d9d9d9;
  --border: #2c2c2c;
  --primary: #2c2c2c;
}

#root {
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: var(--background);
  color: var(--sub);
  font-family: "inter";
}

::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 4px;
}

@layer base {
  h1 {
    @apply text-8xl font-bold text-[var(--color)];
  }

  h2 {
    @apply text-5xl font-semibold text-[var(--color)];
  }

  h3 {
    @apply font-mono text-2xl leading-6 text-[var(--sub)];
  }

  h4 {
    @apply text-2xl font-semibold text-[var(--color)];
  }

  button {
    @apply rounded-lg border border-[var(--border)] bg-[var(--primary)] px-4 py-2 text-[var(--color)] transition hover:bg-transparent;
  }

  li {
    @apply relative w-fit cursor-pointer;

    &::before {
      content: "";
      position: absolute;
      bottom: -1rem;
      transform: translateY(-50%);
      width: 0;
      height: 2px;
      transition: width 0.3s ease-in-out;
      background-color: var(--sub);
    }

    &:hover::before {
      width: 100%;
    }
  }
}
